{% extends "base.html" %}
{% block container %}
<section id="profile-page" class="details">
            <div class="profile-information">
                <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                <p class="img"><img src="{{ user.image_url }}" alt=""></p>
                <div class="actions">
                    <a class="button" href="{% url "profile-edit-page" %}">Edit</a>
                    <a class="button" href="{% url "profile-delete-page" %}">Delete</a>
                </div>
            </div>
        </section>
{% endblock %}